<div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="media">
          <div class="pull-left">
            <img src="../../../assets/img/search_employee_logo.png" style="height: 150 px; width: 130px;">
          </div>
          <div class="media-body">
            <h2 class="media-heading" style="margin-left:20px; margin-top: 35px; color: rgb(41, 125, 223)">Employee Search</h2>
          </div>
        </div>
      </div>
    </div>
  </div>