<div class="row">
    <div class="col-md-12">
      <div
        style="width:150px;background-color:#f1f1f1;border:1px solid #999;border-radius:2px;padding:5px; margin-bottom:20px;">
        <div style="padding-right:10px;padding-left:10px">
          <a routerLink="/" style="text-decoration:none"><span
              style="font-size:12px;font-family:Arial;font-weight:bold;color:#444;white-space:nowrap;display:block; text-align:center">Back
              to Main Menu</span></a>
        </div>
      </div>
    </div>
  </div>


<app-header></app-header>


<div class="row">
    <div class="col-md-12">
      <span class="pull-left" >
        <h4 style="margin-left:15px">Search by skill</h4>
      </span>
  
      <div class="form-group pull-right">
        <input type="text" class="search form-control" (keyup)='search($event.target.value)'
          placeholder="&#61442; Enter project name ">
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-md-12">
      <table class="table table-xs table-hover table-bordered results">
          <thead>
            <tr>
              <th style="width: 10%">Skill</th>
              <th style="width: 10%">People</th>
              <!-- <th class="text-center" style="width: 25%">No Of Persons</th> -->
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let skill of skills_data">
              <td id="indent">{{skill._source.Skill}}</td> 
              <td id="indent">
                 <div *ngFor="let emp of skill._source.People">
                    <a routerLink="/employee/{{emp.Employee_ID}}">{{emp.Employee_Name}}</a>
                 </div>
              </td>
              <!-- <td style="font-size: 12px;" class="text-center">{{ emp.Employee_Name?.length }}</td>  -->
            </tr>
          </tbody>
        </table>
        
        <div *ngIf="skills_data.length === 0">
            <span style="margin-left:20px;">No matching elements</span> 
        </div> 
  </div>
</div>

<hr class="">