
.form-control {
    box-shadow: 0 10px 30px 0 rgb(233, 237, 241);
  }
.form-control::placeholder  {
    font-family: FontAwesome;
}

thead {
  background-color: rgba(117, 117, 117, 0.993);
    color: rgb(255, 255, 255);
    font-size: 12px;
}

th {
  text-align: center;
}

td#center {
  text-align: center;
  font-size: 12px;
} 

td#indent {
  padding-left: 30px;
  font-size: 12px;
}